@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}
*{
  font-family: 'Noto+Serif';
  color:var(--secondary)
}
.container{
  margin: 50px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  
  
}
.sidebar{
  overflow: auto;
  height:600px;
  width: 100%;
  border: solid 1px black;
}
.header{
  
}
textarea {
  border: 1px solid #888; 
  resize: none;
  width: 500px;
  height: 80px;
  font-size: 20px;
  
}
.counts {
  float: left;
}
.sentiment {
  margin-top: -450px;
  margin-left: 50px;
}


/* upload form styles */


/* progress bar styles */


/* image grid styles */


/* modal styles */